USE [ClientBISDb]
GO
/****** Object:  StoredProcedure [dbo].[LMS_BuildLCRSp]    Script Date: 4/10/2016 6:46:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[LMS_BuildLCRSp](
	@LATEST_MONTHEND int
)
AS
DECLARE
	@PREVIOUS_MONTHEND int,
	@LATEST_DATE datetime,
	@LAST_3_MONTH int,
	@QRTR_STRT_MONTH int,
	@DEP_PERC numeric(10,6),
	@TXN_PERC numeric(10,6),
	@PROC_NAME varchar(30) = 'LMS_BuildLCRSp',
	@AUDIT_TEXT varchar(1000),
	@STRT_DATE datetime =getdate(),
	@STEP int =1 ;
	
BEGIN

	SET NOCOUNT ON 
	
	exec LMS_AuditSp @STRT_DATE OUT,@STEP OUT,@PROC_NAME,'LMS ClientLCR build started';
	
	-- ******************************************** 
	-- Monthend/Percentile%age Variables evaluation
	-- ********************************************
	SELECT @LATEST_DATE=CONVERT(datetime,cast(@LATEST_MONTHEND as char(6))+'01',112);
	
	SELECT @PREVIOUS_MONTHEND = cast(left(convert(char(8),dateadd(month,-1,@LATEST_DATE),112),6) as int),         -- previous month
		   @LAST_3_MONTH      = cast(left(convert(char(8),dateadd(month,-2,@LATEST_DATE),112),6) as int),         -- last 3rd month
		   @QRTR_STRT_MONTH   = cast(left(convert(char(8),dateadd(q,datediff(q,0,@LATEST_DATE),0),112),6) as int); -- quarter start month.

	-- Get the deposits %age from lookup for percentile calc.
	select @DEP_PERC=cast(LKP_OUT as numeric(10,6))/100 FROM LMS_LkpTable WHERE TYPE='LMS_DEP_PERC';
	-- Get the payments %age from lookup for percentile calc.
	select @TXN_PERC=cast(LKP_OUT as numeric(10,6))/100 FROM LMS_LkpTable WHERE TYPE='LMS_TXN_PERC';

	exec LMS_AuditSp @STRT_DATE OUT,@STEP OUT,@PROC_NAME,'LMS Monthend/%age variable evaluated!';
	
	-- ********************************** 
	-- LMS LCR Table load.
	-- **********************************
	
	-- Load the deposits for 3 month into temp table from previous #LMS_MONTH at L4 level
	SELECT 
	  @LATEST_MONTHEND AS LMS_MONTH
	, DEP_DATE
	, 'L4' as GFCID_TYPE
	, GFCID
	, MAX(GFCID_NAME) AS GFCID_NAME
	, SUB_SECTOR
	, FACTORY_COUNTRY
	, FACTORY_REGION
	, MIS_REGION
	, MIS_COUNTRY
	, DEPOSIT_TYPE
	, SUM(AVAIL_BAL_USD) AS AVAIL_BAL_USD
	, SUM(case when LMS_MONTH=@LATEST_MONTHEND THEN AVAIL_BAL_USD ELSE NULL END) as AVAIL_BAL_USD_M
	INTO #DEP_3MONTH FROM LMS_DepositsTb d 
	WHERE LMS_MONTH between @LAST_3_MONTH and @LATEST_MONTHEND
	GROUP BY DEP_DATE
	, GFCID
	, SUB_SECTOR
	, FACTORY_COUNTRY
	, FACTORY_REGION
	, MIS_REGION
	, MIS_COUNTRY
	, DEPOSIT_TYPE;
	
	exec LMS_AuditSp @STRT_DATE OUT,@STEP OUT,@PROC_NAME,'LMS LMS_ClientLCRTb: Temp Deposits Agg for 3 months at GFCID level!';

	-- Load the deposits for 3 month into temp table from previous #LMS_MONTH at L2 level
	WITH
	  LkGeographyTbVw AS
	  (
		SELECT
		  CountryISO2
		, CountryShortName
		, Isnull(l.LKP_OUT, 'Unassgined') AS MANAGED_REGION
		FROM
		  dbo.LkGeographyTb(NOLOCK) g
		LEFT OUTER JOIN LMS_LkpTable(NOLOCK) l
		ON
		  g.MANAGED_REGION = l.LKP_VALUE1
		AND l.TYPE         = 'REGION_MAP'
	  )
	, l2View AS
	  (
		SELECT
		  LMS_MONTH
		, DEP_DATE
		, ISNULL(c.L2, d.GFCID) AS GFCID
		,(
			CASE
			  WHEN c.L2 IS NULL
			  THEN d.GFCID_NAME
			  ELSE c.L2CompanyN
			END) AS GFCID_NAME
		,(
			CASE
			  WHEN c.L2 IS NULL
			  THEN d.SUB_SECTOR
			  ELSE c.L2Sector
			END) AS SUB_SECTOR
		, FACTORY_COUNTRY
		, FACTORY_REGION
		, CASE
			WHEN c.L2 IS NULL
			THEN d.MIS_REGION
			ELSE ISNULL(r.Managed_Region, 'Unassgined')
		  END AS MIS_REGION
		, CASE
			WHEN c.L2 IS NULL
			THEN d.MIS_COUNTRY
			ELSE c.L2Country
		  END AS MIS_COUNTRY
		, DEPOSIT_TYPE
		, AVAIL_BAL_USD AS AVAIL_BAL_USD
		FROM
		  LMS_DepositsTb d
		LEFT OUTER JOIN LMS_L2ClientAttributeVw c
		ON
		  d.GFCID = c.GFCID
		LEFT OUTER JOIN LkGeographyTbVw r
		ON
		  c.L2Country = r.CountryISO2
		WHERE
		  LMS_MONTH between @LAST_3_MONTH and @LATEST_MONTHEND
	  )
	INSERT INTO #DEP_3MONTH
	SELECT 
	  @LATEST_MONTHEND AS LMS_MONTH
	, DEP_DATE
	, 'L2' as GFCID_TYPE
	, GFCID
	, MAX(GFCID_NAME) AS GFCID_NAME
	, SUB_SECTOR
	, FACTORY_COUNTRY
	, FACTORY_REGION
	, MIS_REGION
	, MIS_COUNTRY
	, DEPOSIT_TYPE
	, SUM(AVAIL_BAL_USD) AS AVAIL_BAL_USD
	, SUM(case when LMS_MONTH=@LATEST_MONTHEND THEN AVAIL_BAL_USD ELSE NULL END) as AVAIL_BAL_USD_M
	FROM l2View
	GROUP BY DEP_DATE
	, GFCID
	, SUB_SECTOR
	, FACTORY_COUNTRY
	, FACTORY_REGION
	, MIS_REGION
	, MIS_COUNTRY
	, DEPOSIT_TYPE
	;
	create clustered index idx0 on #DEP_3MONTH(GFCID_TYPE,GFCID,FACTORY_COUNTRY);
	
	exec LMS_AuditSp @STRT_DATE OUT,@STEP OUT,@PROC_NAME,'LMS LMS_ClientLCRTb: Temp Deposits Agg for 3 months at L2 level!';
	
	-- Calculate the percentile, average, for a given month
	WITH DEP_3MONTH_0 AS (
	SELECT GFCID_TYPE
	, GFCID
	, GFCID_NAME
	, SUB_SECTOR
	, FACTORY_COUNTRY
	, FACTORY_REGION
	, MIS_REGION
	, MIS_COUNTRY
	, DEPOSIT_TYPE
	, AVAIL_BAL_USD
	, AVAIL_BAL_USD_M
	, PERCENTILE_CONT(@DEP_PERC) WITHIN GROUP (ORDER BY AVAIL_BAL_USD) OVER (PARTITION BY GFCID_TYPE,GFCID, FACTORY_COUNTRY ) as  AVAIL_BAL_USD_P
	FROM #DEP_3MONTH
	)
	SELECT d.GFCID_TYPE
	, d.GFCID
	, MAX(d.GFCID_NAME) AS GFCID_NAME
	, d.SUB_SECTOR
	, d.FACTORY_COUNTRY
	, d.FACTORY_REGION
	, d.MIS_COUNTRY
	, d.MIS_REGION
	, d.DEPOSIT_TYPE
	, AVG(d.AVAIL_BAL_USD_M) As AVAIL_BAL_USD
	, AVG(case when d.DEPOSIT_TYPE IN ('Operational Deposit','OD','Operational') THEN AVAIL_BAL_USD_M else null end) as OP_AVAIL_BAL_USD
	, AVG(d.AVAIL_BAL_USD_M) As DEP_AVG_LAST_MON
	, AVG(d.AVAIL_BAL_USD) As DEP_AVG_LAST_3MON
	, AVG(case when d.AVAIL_BAL_USD<=d.AVAIL_BAL_USD_P THEN d.AVAIL_BAL_USD ELSE NULL END ) As DEP_AVG_LOW_DEC_3MON
	INTO #DEP_3MONTH_1
	FROM 
	 DEP_3MONTH_0 d 
	 group by d.GFCID_TYPE
	, d.GFCID
	, d.FACTORY_COUNTRY
	, d.SUB_SECTOR
	, d.FACTORY_REGION
	, d.MIS_REGION
	, d.MIS_COUNTRY
	, d.DEPOSIT_TYPE
	order by d.GFCID_TYPE,d.GFCID
	, d.FACTORY_COUNTRY;
	
	create clustered index idx_tmp0 on #DEP_3MONTH_1 (GFCID_TYPE,GFCID,FACTORY_COUNTRY)
	
	drop table #DEP_3MONTH;
	
	exec LMS_AuditSp @STRT_DATE OUT,@STEP OUT,@PROC_NAME,'LMS LMS_ClientLCRTb: Temp Deposits Agg for 3 months done!';

	-- Load the payments for 3 months into temp table
	SELECT TXN_DATE
	, 'L4' AS GFCID_TYPE
	, GFCID
	, FACTORY_COUNTRY
	, SUM(GROSS_DEBIT_TXN_AMT_USD) AS GROSS_DEBIT_TXN_AMT_USD
	, SUM(CASE WHEN LMS_MONTH=@LATEST_MONTHEND THEN GROSS_DEBIT_TXN_AMT_USD ELSE NULL END) AS GROSS_DEBIT_TXN_AMT_USD_M
	INTO #TXN_3MONTH FROM LMS_PaymentsTb d
	WHERE LMS_MONTH BETWEEN @LAST_3_MONTH AND @LATEST_MONTHEND
	GROUP BY TXN_DATE
	, GFCID
	, FACTORY_COUNTRY; -- to load for 3 months
	
	exec LMS_AuditSp @STRT_DATE OUT,@STEP OUT,@PROC_NAME,'LMS LMS_ClientLCRTb: Temp Payments agg for 3 months at GFCID level!';
	
	INSERT INTO #TXN_3MONTH
	SELECT TXN_DATE
	, 'L2' AS GFCID_TYPE
	, ISNULL(c.L2,d.GFCID) AS GFCID
	, FACTORY_COUNTRY
	, SUM(GROSS_DEBIT_TXN_AMT_USD) AS GROSS_DEBIT_TXN_AMT_USD
	, SUM(CASE WHEN LMS_MONTH=@LATEST_MONTHEND THEN GROSS_DEBIT_TXN_AMT_USD ELSE NULL END) AS GROSS_DEBIT_TXN_AMT_USD_M
	FROM LMS_PaymentsTb d
	LEFT OUTER JOIN	LMS_L2ClientAttributeVw c
	ON d.GFCID=c.GFCID
	WHERE LMS_MONTH BETWEEN @LAST_3_MONTH AND @LATEST_MONTHEND
	GROUP BY TXN_DATE
	, ISNULL(c.L2,d.GFCID)
	, FACTORY_COUNTRY
	; -- to load for 3 months
	
	exec LMS_AuditSp @STRT_DATE OUT,@STEP OUT,@PROC_NAME,'LMS LMS_ClientLCRTb: Temp Payments agg for 3 months at L2 level!';

	create clustered index idx0 on #TXN_3MONTH(GFCID_TYPE,GFCID,FACTORY_COUNTRY);

	-- Load the payments for 3 months into temp table
	WITH TXN_3MONTH AS (
	SELECT GFCID_TYPE
	, GFCID
	, FACTORY_COUNTRY
	, GROSS_DEBIT_TXN_AMT_USD
	, GROSS_DEBIT_TXN_AMT_USD_M
	, PERCENTILE_CONT(@TXN_PERC) WITHIN GROUP (ORDER BY GROSS_DEBIT_TXN_AMT_USD) OVER (PARTITION BY GFCID_TYPE,GFCID,FACTORY_COUNTRY) as  GROSS_DEBIT_TXN_AMT_USD_P
	FROM #TXN_3MONTH)
	SELECT 
	  t.GFCID_TYPE
	, t.GFCID
	, t.FACTORY_COUNTRY
	, AVG(t.GROSS_DEBIT_TXN_AMT_USD_M) AS GROSS_DEBIT_TXN_AMT_USD
	, AVG(case when t.GROSS_DEBIT_TXN_AMT_USD>=t.GROSS_DEBIT_TXN_AMT_USD_P THEN t.GROSS_DEBIT_TXN_AMT_USD ELSE NULL END ) As TXN_AVG_HIGH_DEC_3MON
	INTO #TXN_3MONTH_1
	FROM TXN_3MONTH t
	 group by t.GFCID_TYPE
	, t.GFCID
	, t.FACTORY_COUNTRY
	order by t.GFCID
	, t.FACTORY_COUNTRY;
	
	create clustered index idx_tmp0 on #TXN_3MONTH_1 (GFCID_TYPE,GFCID,FACTORY_COUNTRY)
	
	drop table #TXN_3MONTH;
	
	exec LMS_AuditSp @STRT_DATE OUT,@STEP OUT,@PROC_NAME,'LMS LMS_ClientLCRTb: Temp Payments Agg for 3months done!';

	
	SELECT 
	  @LATEST_MONTHEND as LMS_MONTH
	, d.GFCID_TYPE
	, d.GFCID
	, d.GFCID_NAME
	, d.SUB_SECTOR
	, d.FACTORY_COUNTRY
	, d.FACTORY_REGION
	, d.MIS_COUNTRY
	, d.MIS_REGION
	, d.DEPOSIT_TYPE
	, d.AVAIL_BAL_USD
	, t.GROSS_DEBIT_TXN_AMT_USD
	, d.OP_AVAIL_BAL_USD
	, d.DEP_AVG_LAST_MON
	, d.DEP_AVG_LAST_3MON
	, d.DEP_AVG_LOW_DEC_3MON
	, t.TXN_AVG_HIGH_DEC_3MON
	INTO #LMS_MONTHLY
	FROM 
	 #DEP_3MONTH_1 d 
	 left outer join #TXN_3MONTH_1 t
	 on d.GFCID=t.GFCID 
	 and d.GFCID_TYPE=t.GFCID_TYPE
	 and d.FACTORY_COUNTRY=t.FACTORY_COUNTRY;
	 
	drop table #DEP_3MONTH_1;
	drop table #TXN_3MONTH_1;

	exec LMS_AuditSp @STRT_DATE OUT,@STEP OUT,@PROC_NAME,'LMS LMS_ClientLCRTb: Joined deposits & payments done!';

	delete from LMS_ClientLCRTb where LMS_MONTH=@LATEST_MONTHEND;
	
	WITH LCR_TAB AS (
		SELECT 
		LMS_MONTH 
		, GFCID_TYPE
		, GFCID 
		, GFCID_NAME
		, SUB_SECTOR 
		, FACTORY_COUNTRY 
		, FACTORY_REGION
		, MIS_COUNTRY 
		, MIS_REGION
		, DEPOSIT_TYPE
		, AVAIL_BAL_USD 
		, GROSS_DEBIT_TXN_AMT_USD 
		, OP_AVAIL_BAL_USD 
		, DEP_AVG_LAST_MON 
		, DEP_AVG_LAST_3MON
		, DEP_AVG_LOW_DEC_3MON
		, TXN_AVG_HIGH_DEC_3MON
		, (CASE WHEN DEP_AVG_LAST_3MON=0 THEN 0 
				ELSE ((CASE WHEN (DEP_AVG_LOW_DEC_3MON-TXN_AVG_HIGH_DEC_3MON)<0 THEN 0 
							ELSE DEP_AVG_LOW_DEC_3MON-TXN_AVG_HIGH_DEC_3MON
					   END)/DEP_AVG_LAST_3MON)
		   END) as EXCESS_P
		, (1-(CASE WHEN DEP_AVG_LAST_3MON=0 THEN 0 
				ELSE ((CASE WHEN (DEP_AVG_LOW_DEC_3MON-TXN_AVG_HIGH_DEC_3MON)<0 THEN 0 
							ELSE DEP_AVG_LOW_DEC_3MON-TXN_AVG_HIGH_DEC_3MON
					   END)/DEP_AVG_LAST_3MON)
		   END)) as OPERATIONAL_P
		, isnull(CAST(lpo.LKP_OUT as numeric(20,5)),0)/100 as OPER_PERC
		, isnull(CAST(lpn.LKP_OUT as numeric(20,5)),0)/100 as NOPER_PERC
		FROM #LMS_MONTHLY t
		LEFT OUTER JOIN LMS_LkpTable lpo
		ON
		  UPPER(t.SUB_SECTOR) = UPPER(lpo.LKP_VALUE1)
		  AND lpo.TYPE='LMS_PERC'
		  AND lpo.LKP_VALUE2='Operational' 
		LEFT OUTER JOIN LMS_LkpTable lpn
		ON
		  UPPER(t.SUB_SECTOR) = UPPER(lpn.LKP_VALUE1)
		  AND lpn.TYPE='LMS_PERC'
		  AND lpn.LKP_VALUE2='Non-Operational'
	)
	INSERT INTO LMS_ClientLCRTb (
	  LMS_MONTH 
	, GFCID_TYPE
	, GFCID 
	, GFCID_NAME
	, SUB_SECTOR 
	, FACTORY_COUNTRY 
	, FACTORY_REGION
	, MIS_COUNTRY 
	, MIS_REGION
	, DEPOSIT_TYPE
	, AVAIL_BAL_USD 
	, GROSS_DEBIT_TXN_AMT_USD 
	, OP_AVAIL_BAL_USD 
	, DEP_AVG_LAST_MON 
	, DEP_AVG_LAST_3MON
	, DEP_AVG_LOW_DEC_3MON
	, TXN_AVG_HIGH_DEC_3MON
	, EXCESS
	, OPERATIONAL
	, LCR_VALUE
	, OUTFLOW
	, OPER_HEADROOM
	)
	SELECT 
	LMS_MONTH 
	, GFCID_TYPE
	, GFCID 
	, GFCID_NAME
	, SUB_SECTOR 
	, FACTORY_COUNTRY 
	, FACTORY_REGION
	, MIS_COUNTRY 
	, MIS_REGION
	, DEPOSIT_TYPE
	, ISNULL(AVAIL_BAL_USD,0) AS AVAIL_BAL_USD
	, ISNULL(GROSS_DEBIT_TXN_AMT_USD,0) AS GROSS_DEBIT_TXN_AMT_USD
	, ISNULL(OP_AVAIL_BAL_USD,0) AS OP_AVAIL_BAL_USD
	, ISNULL(DEP_AVG_LAST_MON,0)  AS DEP_AVG_LAST_MON
	, ISNULL(DEP_AVG_LAST_3MON,0) AS DEP_AVG_LAST_3MON
	, ISNULL(DEP_AVG_LOW_DEC_3MON,0) As DEP_AVG_LOW_DEC_3MON
	, ISNULL(TXN_AVG_HIGH_DEC_3MON,0) AS TXN_AVG_HIGH_DEC_3MON
	, ISNULL(EXCESS_P * AVAIL_BAL_USD,0) as EXCESS
	, ISNULL(OPERATIONAL_P * AVAIL_BAL_USD,0) as OPERATIONAL
	, ISNULL(((EXCESS_P*NOPER_PERC) +(OPERATIONAL_P*OPER_PERC))*AVAIL_BAL_USD,0) as LCR_VALUE
	, ISNULL(AVAIL_BAL_USD * (1 - ((EXCESS_P*NOPER_PERC) +(OPERATIONAL_P*OPER_PERC))),0) as OUTFLOW
	, ISNULL(CASE WHEN OPERATIONAL_P=1 THEN TXN_AVG_HIGH_DEC_3MON-DEP_AVG_LOW_DEC_3MON END,0) AS OPER_HEADROOM
	FROM LCR_TAB t;
	
	select @AUDIT_TEXT='LMS LMS_ClientLCRTb build completed for Monthend = '+cast(@LATEST_MONTHEND as char(6));
	exec LMS_AuditSp @STRT_DATE OUT,@STEP OUT,@PROC_NAME,@AUDIT_TEXT;

END
